.root {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  border: 5px solid #bfea8a;
  font-family: Helvetica, Arial, sans-serif;
  flex-direction: column;
}
.background {
}
.jobDescription {
  display: flex;
  align-items: center;
}
.test {
  z-index: 4;
  align-self: center;
}
