

.myLabel {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}


.test-enter {
  opacity: 0;
}
.test-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.test-exit {
  opacity: 1;
}
.test-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.test { 
  opacity: 0 
}