.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-items: center;

}

.nameDiv {
  width: 960px;
  margin: 0 auto;
  height: 70px;
}

.header {
  margin: 0;
  text-align: center;
  font-size: 200px;
 
  overflow: hidden;
  line-height: 1;
  font-family: Valencia, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.textSpan {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 120px;
    }
    .nameDiv {
      width: 500px;
      margin: 0 auto;
      height: 20px;
    }

    .titleDiv {
      height: 2px;
      margin: 0 auto;
      height: 10px;
    }
    .title {
      font-size: 35px;
    }
  


}
  

@keyframes reveal {
  0% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}


.titleDiv {
  padding: 100px 20px 0;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  height: 200px;
  margin: 0 auto;
}

.header3 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  height: 70px;
  overflow: hidden;
  line-height: 1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  display: block;
  animation: reveal2 2.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal2 {
  0% {
    transform: translate(0,200%);
  }
  100% {
    transform: translate(0,0);
  }
}


  @keyframes reveal3 {
  0% {
    transform: translate(0,500%);
  }
  100% {
    transform: translate(0,0);
  }
}