.root {
  flex-direction: column;
}
.experienceItem {
}
.test {
  position: relative;
}

.testsad {
  position: static;
}
.root {
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
  flex-wrap: nowrap;
}
.ca {
  display: flex;
  flex-direction: column;
  gap: 400px;
}
