.App {
  max-width: none;
  margin: 0 0px;
  padding: 0rem;
  text-align: center;
  background-color: #0f0e0e;
  color: #f0e8e8;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.appCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 97%;
  height: 100%;
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 30px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  transition: 0.3s ease;
}

.first {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/elCapitan3.jpg');
}

.second {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/elCapitan3.jpg');
  z-index: 2;
}

.third {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/universityOfWashington.jpg');
  z-index: 2;
}

.firstExperience {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/Qualcomm2.jpg');
  background-attachment: fixed;
}
.secondExperience {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/morphic.jpg');
  background-attachment: fixed;
}
.thirdExperience {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%),
    url('./assets/Images/mcgHealth2.jpg');
  background-attachment: fixed;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.logo {
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.education {
  background-image: url('../src/assets/Images/universityOfWashington.jpg');
}
.container {
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.blank {
  width: 100%;
  min-height: 200px;
  font-family: var(--body-font);
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.774);
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blank2 {
  width: 100%;
  min-height: 50px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.756);
}
